body{
 background-image: url("http://i.makeagif.com/media/11-05-2015/a0J67R.gif");   
}


h1 {
    color:White;
}

h2{
    color:White;
}

.container{
    color:White;
}
#SugarFactory1 {
    color: Black;
    background-color: White;
}

#SugarFactory2 {
    color: Black;
    background-color: White;
}