body {
    background-image: url("http://i.imgur.com/KR628GR.gif");
}

h1 {
    color: White;
}

h2 {
    color: White;
}

#Macbar1 {
    color: Black;
    background-color: White;
}

#Macbar2 {
    color: Black;
    background-color: White;
}