body{
 background-image: url("https://media.giphy.com/media/z6SINjHswPVwQ/giphy.gif");   
}


h1 {
    color:White;
}

h2{
    color:White;
}

.container{
    color:White;
}

#MaxBrenner1 {
    color: Black;
    background-color: White;
}

#MaxBrenner2 {
    color: Black;
    background-color: White;
}