body {
 background-image: url("https://media.giphy.com/media/QsHnc6PWPIRVe/giphy.gif");
}

h1 {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 250%;
}

h2 {
    color:white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-size: 250%;
}

input {
    background-color: #add8e6 ;
    font-size: 18px ;
    font-weight: bold;
    border-radius: 20px;
}

input:hover {
    cursor: pointer;
    background: #20b2aa;
}